<div class="container">
  <div class="big-box">
    <img src="../assets/form2.jpg" alt="">

    <form class="box" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <label for="name">نام</label>
      <input type="text" name="name" id="name" formControlName="name">

      <label>نام خانوادگی</label>
      <input type="text" name="lastName" id="lastName" formControlName="lastName">
      <label>سن</label>
      <input type="number" name="age" id="age" formControlName="age">

      <div class="g">
        <div class="gender" *ngFor="let gender of genders">
          <label>
            <input type="radio" class="gender" [value]="gender" id="geender" formControlName="gender">
            {{gender}}
          </label>
        </div>
      </div>

      <button type="submit" class="active" (click)="resultBtn()">ذخیره</button>
    </form>

  </div>

  <div [ngStyle]="{'display':getDisplay()}" class="result-active" *ngIf="submited">
    <button class="closeOpen" (click)="resultBtn()">X</button>
    <p>نام و نام خانوادگی : {{signupForm.value.name}} {{signupForm.value.lastName}}</p>
    <p>سن : {{signupForm.value.age}}</p>
    <p>جنسیت : {{signupForm.value.gender}}</p>
  </div>
</div>